/*GLOBAL*/
a{
  color: #3C746B;
}
a:hover{
  color: #3C746B;
}
.btn {
  color: #3C746B;
}
.dropdown-menu li a{
  color: #3C746B;
}

h4{
  color: #3C746B;
  /*opacity: 0.6;*/
}

/*HEADER*/

#ctree_logo{
  padding-bottom: 15px;
}

.nav-pills li a {
  padding-top: 1cm;
}

/*SIDE-BAR*/
#select_tree_header {
  position:absolute;
}

/*#sidebar_selection {
    background-color: #f2f2f2;
    height: 477px;
    overflow: auto;
    padding-top: 15px;
}*/

.root {
    font-weight: bold;
}

.filler{/* to give spaceing between divs with absolute position*/
  padding: 15px;
}

#selection_tree_container {
  overflow:auto;
  height: 405px;
}

/*#selection_tree td.selected {
    background-color: #3C746B;
    color:white;
    border: 1px solid white;
}*/

#filter_header {
  position: absolute;
}

.gps {
  margin-left: 25px;
  font-weight: normal;
}
/*MAP*/
#map_canvas {
  height: 686px;
  width: 100%;
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 5px;
  margin: 5px;
  border: 3px solid #000;
}

.infowindow img{
  height:25%;
  width:25%;
}

.infowindow td{
  font-size: 10px;
  font-weight: normal;
}

/*BOTTOM-PANEL*/
/*#analysis_pane {
    padding-top: 20px;
    background-color:white;
}
*/
/*#data_table tr.selected {
    background-color: #3C746B;
    color:white;
    border: 1px solid white;
}*/

#data_table_container{
  overflow:auto;
  height: 200px;
}

/*#data_table{
    border: 0;
    background-color:#efefef;
}


.table-borderless td,
.table-borderless th {
    border: 0;
}

div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  width: 460px;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  margin: 1em 0;
  clear: both;
}*/

/*table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../images/sort_both.jpg') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.jpg') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.jpg') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

/*FOOTER*/
#version_num{
    font-family: "Courier New";
}


