/*GLOBAL*/
a{
  color: #3C746B;
}
a:hover{
  color: #3C746B;
}
.btn {
  color: #3C746B;
}
.dropdown-menu li a{
  color: #3C746B;
}

h4{
  color: #3C746B;
}

/*HEADER*/

#ctree_logo{
  padding-bottom: 15px;
}

.navbar li a {
  padding-top: 50px;
  font-size:  16px;
}

/*SIDE-BAR*/
#tree_id_search_container {
	margin-bottom:15px;
}
.select2-container-multi .select2-dropdown-open .select2-choices{
	overflow-y: hidden;
}
.select2-container-multi .select2-choices{
	max-height: 30px;
	overflow-y: auto;
}

#select_tree_header {
  position:absolute;
}

#display_description{
	margin-left: 35px;
	margin-bottom:15px;
	font-size: 10;
	color: #999999;
}
.root {
    font-weight: bold;
}

.filler{/* to give spaceing between divs with absolute position*/
  padding: 25px;
}
.filler2{/* to give spaceing between divs with absolute position*/
  padding: 15px;
}

#selection_tree_container {
  overflow:auto;
  height: 150px;
}

#filter_header {
  position: absolute;
}

.gps {
  margin-left: 25px;
  /*font-weight: bold;*/
}

.inline_image{
  height: 16px;
  width: 16px;
}
/*MAP*/
#map_canvas {
  height: 515;
  width: 100%;
}

/*attempted to model after google's styles for the mouse etc., firebug it*/
#toggle_heatmap{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  -moz-user-select: none;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border-bottom-right-radius: 2px;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) -moz-use-text-color;
  border-image: none;
  border-style: solid solid solid none;
  border-top-right-radius: 2px;
  border-width: 1px 1px 1px 0;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  color: #565656;
  direction: ltr;
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  padding: 4px;
  position: relative;
  text-align: left;
  margin-top: 5px; 
  margin-left: -5px;
}
#toggle_heatmap img{
 height: 14px;
 width: 16px;
 opacity: 0.3;
}

#toggle_heatmap.selected img{
 opacity: 1;
}

/*attempted to model after google's styles for terrain, satellite, etc. button, firebug it*/
#layers_button{
  -moz-user-select: none;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  color: #000000;
  direction: ltr;
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
  padding: 1px 6px;
  position: relative;
  text-align: left;
  margin-top: 5px;
}

#legend{
	overflow: auto;
  font-size: 10px;
  font-weight: normal;
	max-height:200px;
	width:200px;
  background-color:white;
  border:3px solid gray;
	padding: 4px 1px 1px 6px;
	margin-bottom:40px;
}
	
.infowindow td{
  font-size: 10px;
  font-weight: normal;
}

.context_menu{
        background-color:white;
        border:1px solid gray;
}
.context_menu_item{
        padding:3px 6px;
}
.context_menu_item:hover {
	color:white;
        background-color:#3C746B;
}
.context_menu_separator{
        background-color:gray;
        height:1px;
        margin:0;
        padding:0;
}

/*BOTTOM-PANEL*/

#data_table_container{
  overflow:auto;
  height: 475px;
}

.button-wrapper{
  padding-top: 10px;
}

.analysis_pills > li.active > a, .analysis_pills > li.active > a:hover, .analysis_pills > li.active > a:focus {
    color: white;
}

.analysis_pills_container{
  padding-bottom: 10px;
}

.nav-tabs > li .close {
	margin: -2px 0 0 10px;
	font-size: 18px;
}

.grid *, .grid *:before, .grid *:after { 
  -webkit-box-sizing: content-box; 
  -moz-box-sizing: content-box; 
  box-sizing: content-box; 
}

/*FOOTER*/
#version_num{
    font-family: "Courier New";
	text-align: right;
}

#footer p{
	text-align: center;
}

#footer p a img {
	height: 45px; 
	padding: 5px; 
}

