/*GLOBAL*/
a{
  color: #3C746B;
}
a:hover{
  color: #3C746B;
}
.btn {
  color: #3C746B;
}
.dropdown-menu li a{
  color: #3C746B;
}

h4{
  color: #3C746B;
  /*opacity: 0.6;*/
}

/*HEADER*/

#ctree_logo{
  padding-bottom: 15px;
}

.nav-pills li a {
  padding-top: 50px;
  font-size:  16px;
}

/*#credits .popover{
  width: 100px;
}*/

/*SIDE-BAR*/
#select_tree_header {
  position:absolute;
}

/*#sidebar_selection {
    background-color: #f2f2f2;
    height: 477px;
    overflow: auto;
    padding-top: 15px;
}*/

.root {
    font-weight: bold;
}

.filler{/* to give spaceing between divs with absolute position*/
  padding: 15px;
}

#selection_tree_container {
  overflow:auto;
  height: 390px;
}

/*#selection_tree td.selected {
    background-color: #3C746B;
    color:white;
    border: 1px solid white;
}*/

#filter_header {
  position: absolute;
}

.gps {
  margin-left: 25px;
  /*font-weight: bold;*/
}

.inline_image{
  height: 16px;
  width: 16px;
}
/*MAP*/
#map_canvas {
  height: 686px;
  width: 100%;
}

#toggle_heatmap {
/*  font-family: Arial, sans-serif;
  font-weight: bold;
  background: #fff;
  padding: 2px;
  margin: 3px;*/
  /*border: 3px solid #000;*/
  -moz-user-select: none;
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  color: #000000;
  direction: ltr;
  font-family: Roboto,Arial,sans-serif;
  font-size: 11px;
  font-weight: 500;
  overflow: hidden;
  padding: 1px 6px;
  position: relative;
  text-align: left;
}

.infowindow img{
  height:25%;
  width:25%;
}

.infowindow td{
  font-size: 10px;
  font-weight: normal;
}


.context_menu{
        background-color:white;
        border:1px solid gray;
}
.context_menu_item{
        padding:3px 6px;
}
.context_menu_item:hover {
	color:white;
        background-color:#3C746B;
}
.context_menu_separator{
        background-color:gray;
        height:1px;
        margin:0;
        padding:0;
}

/*BOTTOM-PANEL*/
/*#analysis_pane {
    padding-top: 20px;
    background-color:white;
}
*/
/*#data_table tr.selected {
    background-color: #3C746B;
    color:white;
    border: 1px solid white;
}*/


#data_table_container{
  overflow:auto;
  height: 475px;
}

.button-wrapper{
  /*top: 15px;*/
  padding-top: 10px;
}

/*#data_table_container .loading{
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}*/

/*#data_table{
    border: 0;
    background-color:#efefef;
}


.table-borderless td,
.table-borderless th {
    border: 0;
}

div.dataTables_length label {
  width: 460px;
  float: left;
  text-align: left;
}

div.dataTables_length select {
  width: 75px;
}

div.dataTables_filter label {
  float: right;
  width: 460px;
}

div.dataTables_info {
  padding-top: 8px;
}

div.dataTables_paginate {
  float: right;
  margin: 0;
}

table {
  margin: 1em 0;
  clear: both;
}*/

/*table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../images/sort_both.jpg') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.jpg') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.jpg') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

*/
/*.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
*/
/*FOOTER*/
#version_num{
    font-family: "Courier New";
	text-align: right;
}

#footer p{
	text-align: center;
}

#footer p a img {
	height: 45px; 
	padding: 5px; 
}

