<div id="ameriflux_infowindow">
  <table class="table table-borderless table-condensed table-hover infowindow">
    <tr>
      <td><img class="img-responsive" src="images/<%= icon_name %>.png"></td>
      <td>Ameriflux</td>
    </tr>
    <tr>
      <td>Site ID</td>
      <td><%= site_id %></td>
    </tr>
    <tr>
      <td>Site Name</td>
      <td><%= site_name %></td>
    </tr>
    <tr>
      <td>Source</td>
      <td><%= src_url %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= type %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lng %></td>
    </tr>
   </table>
</div> 
