<div id="ameriflux_infowindow">
  <table id="ameriflux_infowindow_table" class="table table-borderless table-condensed table-hover infowindow">
    <tr>
      <td><img class="inline_image" src="images/<%= icon_name %>.png"></td>
      <td>Ameriflux</td>
    </tr>
    <tr>
      <td>Site ID</td>
      <td><%= site_id %></td>
    </tr>
    <tr>
      <td>Site Name</td>
      <td><%= site_name %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= type %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lng %></td>
    </tr>
    <tr>
      <td>FTP Source</td>
      <td><a target="_blank" href="<%= src_url %>">Download</a></td>
    </tr>
    <tr>
	<td colspan=2>
		<iframe src="GetAmerifluxData.php?siteid=<%= site_id %>">iframe not supported</iframe>
	</td>
    </tr>
   </table>
</div> 
