<% _.each(filters, function(filter){ %>
		<tr>
			<td><%= filter.type %>:</td>
			<td>
				<div class='btn-group' data-toggle='buttons-checkbox'>
					<button id='<%= filter.type %>' type='button' class='btn btn-sm dropdown-toggle' data-toggle='dropdown'>
						<span class='caret'></span>
					</button>
					<ul class='dropdown-menu' role='menu'>
						<li><a class='<%= filter.type %>' href='#'>Yes</a></li>
						<li><a class='<%= filter.type %>' href='#'>No</a></li>
					</ul>
				</div>
			</td>
		</tr>
<% }); %>
