<div id="infowindow">
  <table class="table table-borderless table-condensed table-hover">
    <tr>
      <td><img class="img-responsive" src="images/<%= icon_name %>.png"></td>
      <td><%= icon_type %></td>
    </tr>
    <tr>
      <td>Family</td>
      <td><%= family %></td>
    </tr>
    <tr>
      <td>Species</td>
      <td><%= species %></td>
    </tr>
    <tr>
      <td>Elevation</td>
      <td><%= elev %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lng %></td>
    </tr>
    <tr>
      <td>Sequenced</td>
      <td><%= sequenced %></td>
    </tr>
    <tr>
      <td>Genotyped</td>
      <td><%= genotyped %></td>
    </tr>
    <tr>
      <td>Phenotype</td>
      <td><%= phenotype %></td>
    </tr>
    <tr>
      <td>Study</td>
      <td><a href="https://dendrome.ucdavis.edu/tgdr/"><%= accession %></a></td> <!-- Possibly a modal window? -->
    </tr>
  </table>
</div> 