<div id="sts_is_infowindow">
  <table class="table table-borderless table-condensed table-hover infowindow">
    <tr>
      <td><img class="inline_image" src="images/<%= icon_name %>.png"></td>
      <td><%= icon_type %></td>
    </tr>
    <tr>
      <td>Tree ID</td>
      <td><%= tree_id %></td>
    </tr>
    <tr>
      <td>Family</td>
      <td><%= family %></td>
    </tr>
    <tr>
      <td>Genus</td>
      <td><%= genus %></td>
    </tr>
    <tr>
      <td>Species</td>
      <td><%= species %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lng %></td>
    </tr>
    <tr>
      <td>Sequenced</td>
      <td><%= sequenced %></td>
    </tr>
    <tr>
      <td>Genotyped</td>
      <td><%= genotyped %></td>
    </tr>
    <tr>
      <td>Phenotyped</td>
      <td><%= phenotyped %></td>
    </tr>
  </table>
</div> 
