<div id="infowindow">
  <table class="table table-borderless table-condensed table-hover">
    <tr>
      <td><img class="img-responsive" src="images/<%= icon_name %>.png"></td>
      <td><%= icon_type %></td>
    </tr>
    <tr>
      <td>Tree ID</td>
      <td><%= tree_id %></td>
    </tr>
    <tr>
      <td>Species</td>
      <td><%= species %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lng %></td>
    </tr>
    <tr>
      <td>Sequenced</td>
      <td><%= sequenced %></td>
    </tr>
    <tr>
      <td>Genotyped</td>
      <td><%= genotyped %></td>
    </tr>
    <tr>
      <td>Phenotyped</td>
      <td><%= phenotyped %></td>
    </tr>
    <tr>
      <td>Accession</td>
      <td><a href="https://dendrome.ucdavis.edu/tgdr/"><%= accession %></a></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><%= title %></td>
    </tr>
    <tr>
      <td>Authors</td>
      <td><%= authors %></td> <!-- Possibly a modal window? -->
    </tr>
  </table>
</div> 