<div id="try_db_infowindow">
  <table class="table table-borderless table-condensed table-hover infowindow">
    <tr>
      <td><img class="inline_image" src="images/<%= icon_name %>.png"></td>
      <td><%= icon_type %></td>
    </tr>
    <tr>
      <td>Class</td>
      <td><%= angio_gymno %></td>
    </tr>
    <tr>
      <td>Institution</td>
      <td><%= institution %></td>
    </tr>
    <tr>
      <td>Species</td>
      <td><%= species %></td>
    </tr>
    <tr>
      <td>Latitude</td>
      <td><%= lat %></td>
    </tr>
    <tr>
      <td>Longitude</td>
      <td><%= lng %></td>
    </tr>
    <tr>
      <td>Phenotyped</td>
      <td><%= phenotyped %></td>
    </tr>
    <tr>
      <td>Dataset</td>
      <td><%= dataset %></td>
    </tr>
  </table>
</div> 
